<div style="text-align: center;">
  <img [src]="image" alt="" width="100px" height="75px">
  </div>
  <h1 style="text-align: center;">User Register</h1>
  <div style="text-align: center;">
    <label for="firstname" style="text-align: left;">FirstName </label><br>
    <input type="text" name="firstname"><br><br>
    <label for="lastname" style="text-align: left;">LastName </label><br>
    <input type="text" name="lastname"><br><br>
    <label for="email" style="text-align: left;">Email </label><br>
    <input type="text" name="email"><br><br>
    <label for="password" style="text-align: left;">Password </label><br>
    <input type="password" name="password"><br><br>
    <button (click)="onClick()">Submit</button>
  </div>